@font-face {
	font-family: "ITC Avant Garde Gothic Pro";
	src: url("https://serkanalabas.github.io/section-demo/assets/fonts/itc-avant-garde-pro/ITCAvantGardePro-Bold.otf") format("opentype");
}

@font-face {
	font-family: "Avenir";
	src: url("https://serkanalabas.github.io/section-demo/assets/fonts/avenir/Avenir.ttc") format("truetype");
}